<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
    <ion-icon name="notifications-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div class="perfil-info">


        <div class="perfil-image">
          <img src="https://veteasy-api.s3-eu-west-1.amazonaws.com/media/blog_posts/961/main_image.jpg" alt="Imagen de perfil">
        </div>
     
        <div class="perfil-detalles">
          <!-- Textos: Publicaciones, Seguidores, Seguidos -->
          <div class="perfil-stats">
       
            <span class="publicaciones-number">{{publicacionesCount}}</span>


              <p>Publicaciones</p>


              <span class="seguidores-number">10</span>
              <p>Seguidores</p>


              <span class="seguidos-number">10</span>
              <p>Seguidos</p>
         
          </div>
          <!-- usuario, nombre y descripción -->
          <p *ngFor="let descperfil of desc">{{descperfil.nombre}}</p>
          <p *ngFor="let descperfil of desc">{{descperfil.descripcion}}</p>
        </div>
      </div>
          <!-- Botón de Editar Perfil -->
          <ion-button [routerLink]="['/edicionperfil']" expand="block">
            <ion-icon name="pencil-outline" slot="end"></ion-icon>
            Editar perfil
          </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-list class="publicaciones">
    <ion-item *ngFor="let entrada of entradas" (click)="irDetalle(entrada)">
      <ion-label>
        <h2>{{entrada.fecha}}</h2>
        <p>{{entrada.titulo}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
 
    <ion-fab [routerLink]="['/menu/publicar']" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 
</ion-content>
