<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <ion-img [routerLink]="['/menu/miperfil']" src="https://veteasy-api.s3-eu-west-1.amazonaws.com/media/blog_posts/961/main_image.jpg"></ion-img>
    </ion-avatar>
    <ion-title>Explorar</ion-title>
    <ion-icon name="notifications-outline" slot="end"></ion-icon>
  </ion-toolbar>
  <ion-searchbar animated="true" color="secondary" placeholder="Buscar recetas o usuarios"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab [routerLink]="['/menu/publicar']" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--(no se muestra la lista pero sí el console ?? )-->
  <ion-list>
    <button ion-item *ngFor="let usuario of usuarios">
      {{usuario.id}} - {{usuario.name}}
    </button>
  </ion-list>

</ion-content>
