<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://64.media.tumblr.com/864887f0bfbd9160e379ce951ad5a356/cc8e89d5fafd62f2-58/s500x750/8ca20c4a99e5abb656ea9023a4bffcef083d9edd.gifv"></ion-img>
<ion-card>
  <ion-card-header>
    <ion-card-title>Que alegria verte de nuevo :) </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="nombre"></ion-input>
        <ion-icon color= "primary" name="person-outline" slot="end"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
        <ion-icon color= "primary" name="at-outline" slot="end"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <ion-icon color= "primary" name="key-outline" slot="end"></ion-icon>
      </ion-item>
    </form>
    <br>
    <ion-button (click)="ingresar()" (click)="autenticar()">Ingresar</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']">¿No tienes una cuenta? Registrate aquí</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>