<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <ion-img [routerLink]="['/menu/miperfil']" src="https://veteasy-api.s3-eu-west-1.amazonaws.com/media/blog_posts/961/main_image.jpg"></ion-img>
    </ion-avatar>
    <ion-title>Publicar receta</ion-title>
    <ion-icon name="notifications-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-card-mipublicacion [entrada]="entradaActual" (eventoGuardar)="guardar()"></app-card-mipublicacion>
</ion-content>
